<mat-card class="homeBox">
    <mat-card-header>
        <mat-card-title>About app...</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
        The presented sample application is intended to be used to publish and view short stories.
        The application supports basic CRUD operations.
        Most of the data has been generated to better present all available functions.
        The upper bar is used for navigation, some tabs will be available after logging in (login details below).
        The authentication process is based on JSON Web Token(JWT). 
        </p>
            <hr>
        <p>Login Data:</p>
        <p><i class="fa fa-user-circle" aria-hidden="true"></i> user</p>
        <p><i class="fa fa-key" aria-hidden="true"></i> 12345</p>
        </mat-card-content>
</mat-card>

<mat-card class="homeBox">
        <mat-card-header>
            <mat-card-title><i class="fa fa-code" aria-hidden="true"></i> Used Technologies:</mat-card-title>
        </mat-card-header>
        <mat-card-content>
                
            <mat-card class="techBox">
                <mat-card-header>
                    <mat-card-title>Backend:</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                        <div class="row">
                                <p class="mList"><img class="techLogo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ee/.NET_Core_Logo.svg/240px-.NET_Core_Logo.svg.png"> 
                                    .Net Core
                                </p>
                                <p class="mList"><img class="techLogo" src="https://safenet.gemalto.com/uploadedImages/images/Logos/postgresql-logo.png">
                                    PostgreSQL
                                </p>
                            </div>
                </mat-card-content>
            </mat-card>
            <mat-card class="techBox">
                    <mat-card-header>
                        <mat-card-title>Frontend:</mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="row">
                                <p class="mList"><img class="techLogo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
                                    Angular 8 + Material
                                </p>
                                <p class="mList"><img class="techLogo" src="https://d29fhpw069ctt2.cloudfront.net/icon/image/38839/preview.svg">
                                    Bootstrap 4
                                </p>
                            </div>
                    </mat-card-content>
                </mat-card>
                <h6>Project available on<a target="_blank" href="https://github.com/PatrykChwastek/DotNetAngularApp"> GitHub</a></h6>
        </mat-card-content>
</mat-card>
